[submodule "vendor/underscore"]
	path = vendor/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "vendor/backbone"]
	path = vendor/backbone
	url = git://github.com/documentcloud/backbone.git
[submodule "vendor/qunit"]
	path = vendor/qunit
	url = git://github.com/jquery/qunit.git
[submodule "vendor/requirejs"]
	path = vendor/requirejs
	url = https://github.com/jrburke/requirejs
[submodule "vendor/require-handlebars-plugin"]
	path = vendor/require-handlebars-plugin
	url = https://github.com/SlexAxton/require-handlebars-plugin.git
[submodule "vendor/handelbars"]
	path = vendor/handelbars
	url = https://github.com/wycats/handlebars.js.git
